@import "./base/commons";
@import "./base/reset";
@import "./base/visually-hidden";
@import "./utils/place-holder";


.test{
    color: blue;
}
    
body {
  padding: 16px;
  text-align: center;
}






