.hero {
  background-image: url(../images/hero.jpg);
  padding-top: 120px;
  padding-bottom: 367px;

  position: relative;
  background-size: cover;
  text-align: center;

  &__title {
    @include font(72px, 1.11, 0.11px, #fff);
    margin-bottom: 24px;
  }

  &__subtitle {
    @include font(21px, 1.38, 0.11px, #fff);
    margin-bottom: 16px;
  }

  &__btn {
    @include font(14px, 1, 0.11px, #fff);
    padding: 19px 37px;
    border: 1px solid #fff;
    background-color: transparent;
    text-transform: uppercase;
    cursor: pointer;
  }

  &__bottom{
      height: 100px;
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: #999999;
  }

  &__product{
      max-width: 576px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: -50px;
  }
}


