.products-section{
    background-color:#FFA5BA ;
}

.tittle-wraper{
    padding-top: 127px;
}

.text{
margin-bottom: 15px;

font-family: Titan One;
font-size: 30px;
line-height: calc(34 / 30);
text-align: center;
letter-spacing: 0.04em;
text-transform: uppercase;

color: #FFA5BA;
}


.tittle{
margin-bottom: 270px;
font-family: Titan One;
font-size: 58px;
line-height: 66px;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;

color: #D41443;
}


.product-cards-list{
    display: flex;
    margin-left: -10px;
    margin-right: -10px;   
}


.product-cards-list{
    display: flex;
    margin-left: -12px;
    margin-right: -12px;   
}

.product-card{
    flex-basis: calc(33.33333% - 24px);
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 119px;
    max-width: 335px;

    position: relative;
    padding-top: 161px;
    padding-bottom: 50px;
    border-radius: 24px;


    
}

.product-card--ice-cream{
    background-color:#FFA5BA ;
      animation: animationHero 1000ms cubic-bezier(0.4, 0, 0.2, 1);

    
    &::before{
        content: "";
           animation: animationHero 1000ms cubic-bezier(0.4, 0, 0.2, 1);

        position: absolute;
        top: 0px;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 249px;
    height: 252px;

        background: url(/images/ice-cream-mob@1x.png);
         background-size: contain; 
                    background-repeat: no-repeat;

         @media screen and (min-width: 768px){
             background: url(/images/ice-cream-tab@1x.png);
              background-size: contain; 
                    background-repeat: no-repeat;
                    width: 220px;
                        animation: animationHero 1000ms cubic-bezier(0.4, 0, 0.2, 1);

         }


        @media screen and (min-width: 1280px){
         background: url(/images/ice-cream@1x.png);
          background-size: contain; 
                    background-repeat: no-repeat;
                    width: 335px;
    height: 335px;
    transform: translate(-50%,-65%);   
        }


}

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx){
       &::before {
                background: url(/images/ice-cream-mob@2x.png);
                background-size: contain;

                @media screen and (min-width: 768px) {
                    background: url(/images/ice-cream-tab@2x.png);
                    background-size: contain; 
                    background-repeat: no-repeat;
                    width: 220px;
                }  

                @media screen and (min-width: 1280px) {
                    background: url(/images/ice-cream@2x.png);
                    background-size: contain; 
                    background-repeat: no-repeat;
                    width: 335px;
    height: 335px;
    transform: translate(-50%,-65%);
                }   
            }    
    }


    
}



.product-card__description--hidden{
    opacity: 0;
    height: 0;
    visibility: hidden;
    transition: all .25s;
}

.product-card--ice-coffee{
background-color: #F0D1A5;   
width: 329px; 
border-radius: 24px; 

    &::before{
        content: "";
        background: url(/images/ice-coffee@1x.png);
        position: absolute;
        background-size: cover;
        background-repeat: no-repeat;
        top: 0px;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 329px;
        height: 355px;
}
}

.product-card--milk-shake{
background-color:  #C2E297;   
width: 329px; 
border-radius: 24px;
&::before{
        content: "";
        background: url(/images/miikshakes@1x.png);
        position: absolute;
        background-size: cover;
        background-repeat: no-repeat;
        top: 0px;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 329px;
        height: 355px;
}

}





.product-card__title{
margin-bottom: 49px;   
font-family: Titan One;
margin-top: 38px;
font-size: 30px;
line-height: calc(34 / 30);
text-align: center;
letter-spacing: 0.04em;
text-transform: uppercase;

color: #FFFFFF;

&::after{
    content: "...";
    display: block;
    letter-spacing: 4px;
    margin: 0;
    padding-top: 30px;
}
}


p{

    margin-bottom: 32px;
    font-family: DM Sans;
    font-weight: bold;
    font-size: 16px;
    line-height: calc(28 / 16);
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

.product-card__button{
    display: block;
    margin: auto;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-color: transparent;
    background-image: url(/images/arrow@1x.png);
    background-repeat: no-repeat;
    transition: all .25s;
}


.product-card__button--opened {
    transform: rotate(
-90deg
);
}

@keyframes animationHero {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

/